.grid {
  margin-top: ($space-lg * -1);
  margin-left: ($space-lg * -1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  &__item {
    padding-top: $space-lg;
    padding-left: $space-lg;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    &--half {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
    }
    @media (min-width: 50em) {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }
  }
}
